@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant hover (&:hover);

@theme {
    --font-gugi: "Gugi";
    --font-inter: "Inter";
    --font-sora: "Sora";
}
@layer base {
    ul {
        list-style-type: disc;
        list-style-position: outside;
        margin-left: 50px;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }
    html {
        scroll-padding-top: 80px;
        scroll-behavior: smooth;
    }
}

@layer components {
    .product-prose {
        @apply prose prose-xl max-w-none font-inter;
    }

    .product-prose :where(h1) {
        @apply font-sora text-3xl font-extrabold mb-2;
    }

    .product-prose :where(h2) {
        @apply font-inter text-lg font-bold mt-3;
    }

    .product-prose :where(h3, h4, h5, h6) {
        @apply font-sora text-lg;
    }

    .product-prose :where(p) {
        @apply font-inter text-base;
    }

    .content-summary {
        @apply cursor-pointer transition-colors hover:text-black;
    }
}

.hover-50:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.navbar-margin {
    margin-top: 20px;
}