@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;
@custom-variant hover (&:hover);

@theme {
    --font-gugi: "Gugi";
    --font-inter: "Inter";
    --font-sora: "Sora";
}
@layer base {
    ul {
        list-style-type: disc;
        list-style-position: outside;
        margin-left: 50px;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }
    html {
        scroll-padding-top: 80px;
        scroll-behavior: smooth;
    }
}

.hover-50:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.navbar-margin {
    margin-top: 20px;
}