---
import { getCollection } from "astro:content";

const resources = await getCollection("resources");
---

<footer class="bg-[oklch(0.975_0.01_82)] text-sm text-center pt-12 border-t border-black/10 justify-center">
  <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 text-center px-4 sm:px-6">
      <div class="flex flex-col items-center">
        <h2 class="font-sora font-bold text-base mb-2">About</h2>
        <p class="text-sm italic text-black/80 mx-auto max-w-xs leading-relaxed">
          “Facilitating open access to upper air environments to pioneer education and research opportunities”
        </p>
        <img src="/favicon.svg" alt="Habtronics logo" loading="lazy" decoding="async" class="w-10 mt-3" />
      </div>
      <div class="flex flex-col gap-1">
        <h2 class="font-sora font-bold text-base mb-2">Links</h2>
        <a href="/" class="py-1 px-1 rounded-md hover:bg-black/5 hover:text-black">Home</a>
        <a href="/shop" class="py-1 px-1 rounded-md hover:bg-black/5 hover:text-black">Shop</a>
        <a href="/resources" class="py-1 px-1 rounded-md hover:bg-black/5 hover:text-black">Resources</a>
        <a href="/about-us" class="py-1 px-1 rounded-md hover:bg-black/5 hover:text-black">About</a>
        <a href="/contact" class="py-1 px-1 rounded-md hover:bg-black/5 hover:text-black">Contact</a>
      </div>
      <div class="flex flex-col gap-1">
        <h2 class="font-sora font-bold text-base mb-2">Resources</h2>
        {resources.map((resource) => (
          <a href={`/resources/${resource.slug}`} class="py-1 px-1 rounded-md hover:bg-black/5 hover:text-black">
            {resource.data.title}
          </a>
        ))}
      </div>
      <div>
        <h2 class="font-sora font-bold text-base mb-2">Connect</h2>
        <a href="mailto:info@habtronics.com" class="py-1 px-1 rounded-md hover:bg-black/5 hover:text-black">info@habtronics.com</a>
      </div>  
    </div>
  
    <div class="mt-10 text-xs text-black/65 pb-5">
      © 2026 HABTronics. All rights reserved. <br />
    </div>
</footer>  