---
import "../layouts/Layout.astro"
---
<div class="navbar fixed top-0 w-full h-15 bg-white/70 backdrop-blur-md flex items-center z-[10000] shadow-sm transition-all duration-300">

    <div class="logo">
        <a href="/">
            <h1 class="font-sora font-bold text-xl ml-5">habtronics</h1>
        </a>
    </div>
    <div class="links ml-auto mr-18 gap-[50px] items-center sm:hidden md:flex text-xl" id="nav-links">
        <a href="/" class="font-inter no-underline hover-50">Home</a>
        <a href="/shop" class="font-inter no-underline hover-50">Shop</a>
        <a href="/about-us" class="font-inter no-underline hover-50">About</a>
        <a href="/resources" class="font-inter no-underline hover-50">Resources</a>
        <a href="/contact" class="font-inter no-underline hover-50">Contact</a>
    </div>
    <div class="cart relative mr-5 items-center">
        <a href="/cart">
            <img src="/src/assets/icons/bag.svg" alt="Cart" class="h-7 hover-50">
        </a>
    </div>
</div>

<!-- <script>
    document.addEventListener("DOMContentLoaded", () => {
        const hamburger = document.getElementById("hamburger");
        const mobileMenu = document.getElementById("mobile-menu");

        if (hamburger && mobileMenu) {
            hamburger.addEventListener("click", () => {
                mobileMenu.classList.toggle("hidden");
                document.body.classList.toggle("menu-open");
            });
        }
    });
</script> -->
